name: Go

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15.5
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi
      - name: Prepare PowerShell
        uses: Amadevus/pwsh-script@v1.0.0
        with:
          script: |
            Install-Module -Name psake -Force

      - name: Build
        uses: Amadevus/pwsh-script@v1.0.0
        with:
          script: |
            $psakeResult = Invoke-psake -buildFile .\\scripts\\psakefile.ps1 -taskList Build -nologo -notr
            if(-not $psake.build_success) {
              Set-ActionFailed
            }

      - name: Test
        uses: Amadevus/pwsh-script@v1.0.0
        with:
          script: |
            $psakeResult = Invoke-psake -buildFile .\\scripts\\psakefile.ps1 -taskList Test -nologo -notr
            if(-not $psake.build_success) {
              Set-ActionFailed
            }
